* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: blue;
    box-shadow: 3px 3px 5px rgb(10, 43, 190);
    color: white;
}

.brand-title {
    font-size: 1.7rem;
    margin-left: 2.5rem;
    font-style: italic;
    font-weight: bold;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(20, 17, 207, 0.056);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    color: #181717;
    margin-left: 65px;
    
}

.toggle-button {
    top: 9rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 10px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.menu-button {
    display: none;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 2em;
    margin-right: 10em;
  }
  
  th, td {
    padding: 5px;
    border: 1.5px solid #181717;
  }

  thead {
    background-color: rgba(0, 0, 255, 0.762);
  }

  footer {
    background-color: whitesmoke;
    overflow: hidden;
    text-align: center;
    margin-top: 10em;
    padding: 1rem;
}

nav ul li .current {
    font-weight: 1000;
    color: orangered;
}

nav ul li .current:hover {
    font-weight: 1000;
    color: orangered;
}


.task1-body {
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.4rem;
}

p {
    line-height: 2rem;
}

.tsk2-ftr {
    margin-top: 5em;
}
  
.abt-ftr {
    margin-top: 5em;
}

.frgnd {
    border-radius: 100px;
    width: 190px;
    height: 200px;
    border: orangered 1px solid;
}

#members-img {
        padding: 2px;
        margin: 10px;
        text-align: center;
        border-radius: 500px;
        display: inline-block;
}

#gmd {
    text-align: center;
}

.imgs {
    margin-left: 100px;
}

.sidebar {
    width: 100%;
}

@media (max-width: 1440px) {
    .brand-title {
        font-size: 1.3rem;
        margin-top: 10px;
        margin-left: 1.5rem;
    }

    footer {
        font-size: medium;
    }

    h1, h2, h3 {
        font-size: medium;
        margin-top: 10px;
    }

    p {
        font-size: large;
        text-align: justify;
        margin-top: 10px;
        line-height: 25px;
    }

    #members-img p {
        padding: 1px;
        margin: 5px;
        text-align: center;
        border-radius: 500px;
        display: inline-block;
}
}

/* Laptop*/

@media (max-width: 1024px) {
    .brand-title {
        font-size: 1.3rem;
        margin-top: 10px;
        margin-left: 1.5rem;
    }

    footer {
        font-size: medium;
    }

    h1, h2, h3 {
        font-size: medium;
        margin-top: 10px;
    }

    p {
        font-size: small;
        text-align: justify;
        margin-top: 10px;
        line-height: 25px;
    }

    #members-img p {
        padding: 1px;
        margin: 5px;
        text-align: center;
        border-radius: 500px;
        display: inline-block;
}
}

/* Tablet */

@media (max-width: 768px) {

    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    nav a {
        display: none;
    }
    
    .sidebar a {
        display: flex;
    }

    .brand-title {
        font-size: 1.3rem;
        margin-top: 10px;
        margin-left: 1.5rem;
    }

    footer {
        font-size: medium;
    }

    h1, h2, h3 {
        font-size: medium;
        margin-top: 10px;
    }

    p {
        font-size: medium;
        text-align: justify;
        margin-top: 10px;
        line-height: 25px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-left: 0em;
        margin-right: 50em;
        font-size: small;
      }

      thead {
        font-size: smaller;
      }
        
      .frgnd {
        border-radius: 100px;
        width: 150px;
        height: 150px;
    }

    .imgs {
        margin-left: 70px;
    }

    #members-img p {
        padding: 1px;
        margin: 5px;
        text-align: center;
        border-radius: 500px;
        display: inline-block;
}

#x {
    margin-left: 640px;
  }
}
@media (max-width: 720px) {

    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    nav a {
        display: none;
    }
    
    .sidebar a {
        display: flex;
    }

    .brand-title {
        font-size: 1.3rem;
        margin-top: 10px;
        margin-left: 1.5rem;
    }

    footer {
        font-size: medium;
    }

    h1, h2, h3 {
        font-size: medium;
        margin-top: 10px;
    }

    p {
        font-size: medium;
        text-align: justify;
        margin-top: 10px;
        line-height: 25px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-left: 0em;
        margin-right: 50em;
        font-size: small;
      }

      thead {
        font-size: smaller;
      }
        
      .frgnd {
        border-radius: 100px;
        width: 150px;
        height: 150px;
    }

    .imgs {
        margin-left: 70px;
    }

    #members-img  {
        padding: 1px;
        margin: 5px;
        text-align: center;
        border-radius: 500px;
        display: inline-block;
}

#x {
    margin-left: 530px;
  }
}

@media (max-width: 515px) {

    #x {
        margin-left: 350px;
    }

    #members-img p {
        padding: 1px;
        margin: 5px;
        text-align: center;
        border-radius: 500px;
        display: inline-block;
}
}

/* Mobile L */

@media (max-width: 425px) {
    .brand-title {
        font-size: 1.3rem;
        margin-top: 10px;
        margin-left: 1.5rem;
    }

    footer {
        font-size: medium;
    }

    h1, h2, h3 {
        font-size: medium;
        margin-top: 10px;
    }

    p {
        font-size: medium;
        text-align: justify;
        margin-top: 10px;
        line-height: 25px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-left: 0em;
        margin-right: 50em;
        font-size: small;
      }

      thead {
        font-size: smaller;
      }
        
      .frgnd {
        border-radius: 100px;
        width: 150px;
        height: 150px;
    }

    .imgs {
        margin-left: 70px;
    }

    #members-img p {
        padding: 1px;
        margin: 5px;
        text-align: center;
        border-radius: 500px;
        display: inline-block;
}

#x {
    margin-left: 300px;
  }
}

/* Mobile M */

@media (max-width: 375px) {
    .brand-title {
        font-size: 1.1rem;
        margin-top: 10px;
        margin-left: 1.5rem;
    }

    footer {
        font-size: small;
    }

    h1, h2, h3 {
        font-size: small;
        margin-top: 10px;
    }

    p {
        font-size: small;
        text-align: justify;
        margin-top: 10px;
        line-height: 25px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-left: 0em;
        margin-right: 50em;
        font-size: small;
      }

      thead {
        font-size: smaller;
      }
        
      .frgnd {
        border-radius: 100px;
        width: 150px;
        height: 150px;
    }

    .imgs {
        margin-left: 90px;
    }

    #members-img p {
        padding: 1px;
        margin: 5px;
        text-align: center;
        border-radius: 500px;
        display: inline-block;
}

#x {
    margin-left: 250px;
  }
}

/* Mobile S */

@media (max-width: 320px) {
    .brand-title {
        font-size: 1.1rem;
        margin-top: 10px;
        margin-left: 1.5rem;
    }

    footer {
        font-size: small;
    }

    h1, h2, h3 {
        font-size: small;
        margin-top: 10px;
    }

    p {
        font-size: small;
        text-align: justify;
        margin-top: 10px;
        line-height: 25px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-left: 0em;
        margin-right: 50em;
        font-size: small;
      }

      thead {
        font-size: smaller;
      }
        
      .frgnd {
        border-radius: 100px;
        width: 150px;
        height: 150px;
    }

    .imgs {
        margin-left: 70px;
    }

    #members-img p {
        padding: 1px;
        margin: 5px;
        text-align: center;
        border-radius: 500px;
        display: inline-block;
}

#x {
    margin-left: 190px;
  }
}

